# Este é um arquivo de exemplo para a criação do arquivo .env
# Duplicar esse arquivo e renomea-ló como .env

# Sendo necessário alterar o valor das variáveis
HOST=localhost
DATABASE=searcher
USER=postgres
PASSWORD=postgres
PORT=5432

JWT_SECRET=secret_key_jwt